/* --- Max Width 1400px --- */
@media screen and (max-width: 1400px) {
  #menu-icon {
    display: none;
  }

  #home {
    height: 83vh;
    margin-bottom: 6rem;
  }

  .gallery-container {
    flex-wrap: wrap;
  }

  #journey,
  #toys-gallery {
    height: fit-content;
  }
} 

main {
  padding-top: 7rem;
}

/* --- Max Width 800px --- */
@media only screen and (max-width: 800px) {
  nav {
    flex-wrap: wrap;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
    top: 0;
  }

  nav ul li:last-of-type {
    padding-bottom: 8px;
  }

  nav ul.hidden{
    display: none;
  }

  .headings-text {
    margin-top: -50px;
  }

  .learn-container video {
    max-width: 100%;
  }

  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .toy-cards img {
    width: 80px;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .gallery-container {
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }

  .toy-cards img {
    width: 70px;
  }

  #toys-gallery {
    padding: 3rem 1rem;
  }
}